{%extends 'users/base.html'%}
{%load crispy_forms_tags%}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row pt-5">
        <div class="col-md-9">       
            <div class="photos ">
                <img src="/static/photo/instagram.jpg" class="img-fluid" id="phone" alt="">
            </div>
        </div>
        <div class="col-md-3">
            <h1 class="text-center border-bottom mb-4"style="font-family: 'Cookie', cursive;">Instagram</h1>
            <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="from-group text-center">
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
            </form><br>
            <div class="border-top pt-3 text-center">
            <small class="text-muted">Don't Have an Account?
                <a href="{% url 'register' %}">Sign Up</a>
            </small>
            </div>
            <div class="card-link" id="download">
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26ig_mid%3DW8y-VwAEAAFzL8uOWvX6vzFqELvq%26utm_content%3Dlo%26utm_medium%3Dbadge"><img src="/static/photo/playstore.png" class="img-fluid" alt="App available on Google Play" width="200"></a>
            </div>
            <br>
            <div class="card-link" id="download">
                <a href="https://itunes.apple.com/app/instagram/id389801252?mt=8&vt=lo"><img src="/static/photo/appstore.png" class="img-fluid" alt="Available on the App store" width="200">
                </a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}